decorator==4.4.0
Flask==1.1.1
gunicorn==19.9.0
google==2.0.3
google-api-core==1.16.0
google-api-python-client==1.7.11
google-auth==1.11.0
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-vision==0.41.0
googleapis-common-protos==1.51.0
grpcio>=1.10.0
grpcio-tools>=1.10.0
html5lib==1.0.1
httplib2==0.17.0
imageio==2.5.0
imagesize==1.1.0
import-ipynb==0.1.3
importlib-metadata==0.17
jsonschema==3.0.1
opencv-python==4.1.2.30
optional-django==0.1.0
packaging==19.0
pandas==0.24.2
PyYAML==5.1.1
requests==2.22.0
urllib3==1.24.2
virtualenv==16.7.9
